:root {
    --header-bg: #fff1da;
    --second-text-color: #737373;
    --st:  #181e4bl;
    --yellow: #f1a501;
    --white: #fff;
    --redfull: #DF6951;
    --text-color:#686d77;
    --category-subtitle: #5E6282;
    --category-title: #14183E;
    --text-heading-color: 1e1d4c;
  }