:root {
    --header-bg: #fff1da;
    --header-item-color: #737373;
    --hero-title:  #181E4B;
    --yellow: #f1a501;
    --white: #fff;
    --redfull: #DF6951;
    --text-color:#686d77;
    --category-subtitle: #5E6282;
    --category-title: #14183E;
    --category-subtitle-color: #1e1d4c;
  }